* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  min-height: 100vh;
}

header {
  background-color: rgb(155, 21, 59);
  display: grid;
  place-content: flex-start;
  padding: 0 15px;
  height: 9vh;
  display: flex;
  align-items: center;
  font-size: 150%;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  margin-right: 30px;
}

.nav {
  background-color: beige;
  display: flex;
  gap: 20px;
  font-size: 1.5rem;
  flex-direction: column;
  width: 18vw;
  height: 100%;
  padding-top: 30px;
  /* height: 100vh; */
}

.nav a {
  text-decoration: none;
  text-align: center;
  color: brown;
  align-items: center;
}

.nav a :hover {
  font-weight: bold;
}

.nav_item {
  padding: 5px;
  padding-left: 20px;
}

.nav_item:not(.active):hover {
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}

.nav_item .active {
  font-weight: bold;
}

.tasks_header,
.posts_header,
.users_header,
.photos_header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 0 4vh 0;
}

.inpSearch {
  height: 35px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid grey;
  padding-left: 8px;
  font-size: medium;
}

.h_search {
  height: 30px;
  width: 15%;
}

.div_sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.selectList {
  text-align: center;
  font-size: medium;
  height: 35px;
  border-radius: 5px;
  border: 1px solid grey;
}

.tasksList,
.postsList,
.usersList,
.photosList {
  display: flex;
  flex-direction: column;
}

.tasksList h1,
.postsList h1,
.usersList h1 {
  border-bottom: rgb(155, 21, 59) 1px solid;
  padding: 10px;
  margin: 0;
}

.btnAddNew {
  border: none;
  background-color: beige;
  /* background-color: rgb(155, 21, 59); */
  box-shadow: 3px 2px 4px grey;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

.linkBtn {
  text-decoration: none;
  color: rgb(155, 21, 59);
  /* color: beige; */
  font-size: larger;
  font-weight: 500;
}

.btnAddNew:hover {
  background-color: rgb(228, 228, 198);
}

.task_item,
.post_item,
.user_item,
.photo_item {
  border-bottom: rgb(155, 21, 59) 1px solid;
  width: 70vw;
  padding: 20px;
  position: relative;
}

.potos_display{
  display: flex;
  flex-wrap: wrap;
}

.photo_item{
  width: 30vw;
  padding: 5px;
  margin: 10px 40px;
  border-top: rgb(155, 21, 59) 1px solid;
  /* border-bottom: none; */
}

.photo_item_2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_completed {
  color: green;
  /* background-color: rgb(175, 239, 79); */
}

.p_id {
  font-size: small;
  margin: 0;
  position: absolute;
  top: 4px;
  right: 0;
}

.div_buttons {
  display: flex;
}

.btn_delete,
.btn_edit,
.btn_complete,
.btn_completed {
  background-color: white;
  color: rgb(155, 21, 59);
  border: none;
  border-radius: 50%;
  font-size: 1.3rem;
  padding: 2px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.btn_delete:hover,
.btn_edit:hover,
.btn_complete:hover,
.btn_completed {
  cursor: pointer;
  color: rgb(26, 25, 25);
  background-color: rgb(155, 21, 59);
  color: white;
}

.btn_complete,
.btn_completed {
  gap: 5px;
}

.p_complete,
.p_completed {
  color: rgb(155, 21, 59);
}

.p_completed {
  color: green;
}